@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  --font-mono: var(--font-geist-mono);
  --color-brand: #00C6D7;
  --color-brand-dark: #00b0bf;
  --color-teal-dark: #03484D;
  --color-accent: #FDDE3B;
  --color-gray: #A3A3A3;
  --color-gray-200: #F3F3F3;
  --color-gray-dark: #8f8f8f;
  --color-text: #2E2E2E;
  --color-hero-bg: #F3EDC9;
  --color-footer-bg: #393939;
  --color-footer-bottom: #161616;
  --color-footer-muted: #BFBFBF;
  --color-price: #15ADB7;
  --color-link: #14B1F0;
  --color-brown: #220F0F;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #ffffff; 
    --foreground: #171717;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}
